@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  width: fit-content;
  cursor: pointer;
}
.productCard {
  @apply relative min-w-[230px] max-w-[230px] sm:w-[260px] md:w-[240px] h-[330px] xl:min-w-[255px] xl:h-[400px] flex flex-col bg-white rounded-xl p-3 lg:px-3 xl:px-[15px] xl:pb-[28px] mx-auto;
}
.sections-title {
  @apply text-xl lg:text-3xl font-semibold;
}
.translate-50 {
  @apply -translate-x-2/4 -translate-y-2/4;
}
.nav-icon {
  @apply p-[10px] sm:p-[14px] bg-white rounded-full flex items-center justify-center cursor-pointer;
}
.nav-sidebar {
  @apply py-2 px-6 bg-[#EEEDED] rounded-[10px] text-sm lg:text-xl font-semibold;
}
a.nav-sidebar.active {
  @apply bg-linarOrange text-white border border-white shadow-[0px_4px_4px_0px_rgba(0,0,0,.25)];
}
.btn {
  @apply text-white bg-[#FFB12A] active:ring-2 outline-none ring-yellow ring-offset-2 rounded-lg cursor-pointer;
}
.ourAdvantages-icon {
  @apply w-[72px] h-[72px] mx-auto rounded-full flex items-center justify-center;
}
.ourAdvantages {
  @apply flex flex-col items-center gap-5 md:flex-row lg:mx-5;
}
.productDetail-icon {
  @apply flex items-center justify-center border-2 border-black rounded-lg p-2 hover:bg-yellow hover:border-yellow active:ring-2 outline-none ring-yellow ring-offset-2 cursor-pointer min-w-[40px] h-[40px] md:w-[50px] md:h-[50px] xl:w-[64px] xl:h-[64px];
}
.carousel {
  @apply w-full h-full p-2 flex text-white items-center gap-5 justify-between px-10 overflow-y-hidden;
}
select {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.color-choose {
  @apply relative w-[30px] h-[30px] rounded-full cursor-pointer flex items-center justify-center ring-offset-2;
}
.modal-formInp {
  @apply py-[14px] px-[15px] rounded-xl text-lg mt-[14px];
}
.order-inp {
  @apply py-[9px] px-3 lg:px-5 rounded-md lg:rounded-[10px] mt-3 lg:mt-[10px] border border-black/20;
}
.contacts-icon {
  @apply p-5 lg:p-6 border-[3px] border-yellow rounded-full w-fit flex items-center justify-center mx-auto;
}

.MuiPaginationItem-icon {
  transform: scale(1.16);
}
.MuiPaginationItem-text {
  font-size: 18px !important;
}
.Mui-selected {
  background-color: transparent !important;
  color: #ef8100 !important;
  font-size: 20px !important;
}
.svg__hover--path:hover path:first-child {
  fill: white;
}
.svg__hover--path:hover path:nth-child(n + 2) {
  stroke: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(176, 176, 176);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
